/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



@font-face {
    font-family: "ArialRegular";
    src: url("../fonts/Arial/ArialRegular/ArialRegular.eot");
    src: url("../fonts/Arial/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Arial/ArialRegular/ArialRegular.woff") format("woff"),
        url("../fonts/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialBold";
    src: url("../fonts/Arial/ArialBold/ArialBold.eot");
    src: url("../fonts/Arial/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Arial/ArialBold/ArialBold.woff") format("woff"),
        url("../fonts/Arial/ArialBold/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialBoldItalic";
    src: url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.eot");
    src: url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.woff") format("woff"),
        url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialItalic";
    src: url("../fonts/Arial/ArialItalic/ArialItalic.eot");
    src: url("../fonts/Arial/ArialItalic/ArialItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Arial/ArialItalic/ArialItalic.woff") format("woff"),
        url("../fonts/Arial/ArialItalic/ArialItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialBlack";
    src: url("../fonts/Arial/ArialBlack/ArialBlack.eot");
    src: url("../fonts/Arial/ArialBlack/ArialBlack.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Arial/ArialBlack/ArialBlack.woff") format("woff"),
        url("../fonts/Arial/ArialBlack/ArialBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Prata";
    src: url("../fonts/Prata-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: Arial; 
    background: #282829;
}
a { 
    text-decoration: none;
}

.logo { 
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.875vw;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff; 
    cursor: pointer;
}
 

:root {
    --font-family: "Arial", sans-serif;
    --second-family: "Prata", sans-serif;
}
  
.container {
    max-width: 100vw;
    padding: 0 8.385416666666666vw;
    margin: 0 auto;

}
/*Шапка*/
.header {
    position: fixed;
    top: 0;
    left: 0; 
    padding-top: 1.0416666666666665vw;
    padding-bottom: 0.78125vw;
    width: 100%;
    z-index: 10;
    transition: 0.3s ease-in-out;
} 
.header__wrapper.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40.78125vw
}  
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.header-nav__item.nav-item {
    padding: 0 0.78125vw;
} 
.nav-item__link {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 0.8333333333333334vw;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: #fff; 
}

.shadow {
    background-color: #1c1c1c;
}

/*Баннер*/
 
.wrapper__banner {
    position: relative; 
    background-color: #222222; 
}

.wrapper__banner::before{ 
    content: ""; 
    position: absolute;
    right: 0; 
    top: 0; 
    width: 39.739583333333336vw;
    height: 100%;
    background-image: url('../img/1.png');   
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
} 
.wrapper-banner__info {
    display: flex;
    flex-direction: column;
    max-width: 27.968749999999996vw;
    padding: 12.604166666666666vw 0 2.604166666666667vw;
} 
.banner-info__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 4.166666666666666vw;
    line-height: 100%;
    color: #fff;
    margin-bottom: 2.604166666666667vw;
}
.banner-info__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.604166666666667vw;
    line-height: 100%;
    color: #fff;
    margin-bottom: 3.3333333333333335vw;
} 
.banner-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 1.8229166666666667vw;  
}
.banner-list__item:last-child {
    margin-bottom: 2.083333333333333vw;
} 
.banner-item__icon {
    width: 2.03125vw;
    height: 1.9270833333333335vw;
    margin-right: 0.8854166666666666vw;
}
.banner-item__icon svg {
    width: 2.03125vw;
    height: 1.9270833333333335vw; 

}
.banner-item__text {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1;
    text-align: center;
    color: #fff;
}

.banner-item__first{
    margin-right: 0.78125vw; 
}
.number-style {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.083333333333333vw;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-right:0.78125vw;
}
.banner-info__order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.947916666666666vw;
    height: 5vw;
    border-radius: 0.20833333333333334vw;
    padding: 1.6666666666666667vw 2.604166666666667vw; 
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase; 
    color: #222; 
}


/*Описание*/

.wrapper__desc {
    position: relative;
    padding: 5.208333333333334vw 0 0;
    overflow: hidden;
}  
.wrapper-desc__colums {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 31.979166666666664vw;
    margin: 0 auto;

}

.wrapper-desc__colums::before {
    content: ""; 
    position: absolute;
    left: calc(-100% - 2.76vw );
    top: 0; 
    width: 32.395833333333336vw;
    height: 100%;
    background-image: url('../img/2.png');   
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
.wrapper-desc__colums::after{
    content: ""; 
    position: absolute;
    right: calc(-100% - 2.76vw);
    top: 0; 
    width: 32.395833333333336vw;
    height: 100%;
    background-image: url('../img/3.png');  
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
 
.column-list__item {
    display: flex;
    align-items: center;
    border-bottom: 0.052083333333333336vw solid #55565a;
    padding: 2.083333333333333vw 0 ;
}
.column-list__item:first-child {
    padding-top: 2.7604166666666665vw;
}
.column-list__item:last-child {
    padding-bottom: 0;
    margin-bottom: 4.166666666666666vw;
    border-bottom: none;
} 
.list-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.0208333333333335vw;
    height: 2.96875vw;
    margin-right: 1.0416666666666665vw;
}

.list-item__icon svg {
    
    width: 3.0208333333333335vw;
    height: 2.96875vw;
}
.list-item__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 105%;
    color: #fff;
}
.desc-column__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.20833333333333334vw;
    padding: 1.6666666666666667vw 2.7083333333333335vw;
    width: 31.979166666666664vw;
    height: 4.0625vw;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.0416666666666665vw;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase; 
    color: #282829; 
}



/*Форма*/

.wrapper__form {
    position: relative;
    padding-top: 5.208333333333334vw;
    margin-bottom: 5.208333333333334vw;
    overflow: hidden;
} 

.wrapper-form__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-radius: 1.5625vw;
}
 
.wrapper-form__bg::before { 
    content: "";
    position: absolute;
    right: -334px;
    top: 0px;
    width: 50.479167vw;
    height: 33.708333vw;
    background-image: url(../img/4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    filter: blur(1px);
    z-index: 2;
}
 

.wrapper-form__inner {
    position: relative; 
    border-radius: 1.5625vw; 
    height: 32.708333333333336vw;
    background: #fff;   
} 

.wrapper-form__inner::before {
    content: ""; 
    position: absolute;
    left: 46.61458333333333vw;
    top: -6.71875vw; 
    width: 36.197917vw;
    height: 43.03125vw;
    background-image: url('../img/women.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;  
    z-index: 3;
} 

.form-inner__colum {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 40.677083333333336vw;
    height: 100%;
    padding: 3.75vw 0;
    margin-left: 6.979166666666667vw;
    background: #fff;
    z-index: 3;
} 
.form-column__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.8125vw;
    line-height: 110%;
    color: #38535d;
    margin-bottom: 2.34375vw;
    max-width: 40.3125vw;
}
.form-column__fields {
    display: flex;
    flex-direction: column;
} 
.form-fields__item {
    width: 40.677083333333336vw;
    height: 3.3854166666666665vw;
    border: 0.10416666666666667vw solid #d6d6d6;
    border-radius: 0.20833333333333334vw;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 150%;
    color: #55565a;
    opacity: 0.7;
    padding: 0.6770833333333334vw 1.0416666666666665vw 0.6770833333333334vw 1.9791666666666665vw;
    margin-bottom: 0.6770833333333334vw;
    transition: 0.3s;
}
.form-fields__item:focus {
    opacity: 1;
}

.form-column__accept { 
    display: flex;
    align-items: center;
    margin: 0.6770833333333334vw 0.052083333333333336vw 1.3541666666666667vw;
} 
 
.form-row__checkbox {
    display: none;
} 

.form-row__label{ 
    display: flex;
    align-items: center;
} 
.form-label__box {  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25vw;
    height: 1.25vw;
    border: 0.10416666666666667vw solid #405d65;
    border-radius: 0.20833333333333334vw; 
    margin-right: 0.8333333333333334vw;
}
.form-label__box::before {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    content: '\2713';
    position: absolute; 
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%)  scale(0.3);
    transition: 0.3s ease-in-out; 
}
 
.form-row__checkbox:checked ~ .form-row__label .form-label__box::before{  
    opacity: 1;
    transform: translate(-50%, -50%)  scale(1);
}


.form-label__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.9895833333333333vw;
    line-height: 130%;
    color: #55565a;
} 
.form-column__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.20833333333333334vw;
    padding: 1.6666666666666667vw 1.0416666666666665vw;
    width: 40.677083333333336vw;
    height: 5.208333333333334vw;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 150%;
    text-transform: uppercase; 
    color: #fff;
    background: #282829; 
} 

/*Подвал*/  
.footer-wrapper {
    display: flex;
    flex-direction: column;
}
.footer-wrapper__block:first-child {
    border-top: 0.10416666666666667vw solid #d5c9be;
    border-bottom: 0.10416666666666667vw solid #d5c9be; 
} 
.footer-block__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.9791666666666665vw 0 2.083333333333333vw;
} 
.footer-list__item {
    padding: 0 1.5625vw;
}
.footer-list__link {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 1.0416666666666665vw;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
}
.footer-block__top {
    margin-top: 2.2395833333333335vw;
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-top__logo {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.875vw;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
} 
.socials {
    display: flex;
    align-items: center;
}
.socials-item {
    width: 1.6666666666666667vw;
    height: 1.6666666666666667vw;
    margin: 0 0.8333333333333334vw;
}
.socials-item svg{
    width: 1.6666666666666667vw;
    height: 1.6666666666666667vw;

} 
.footer-top__order {
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 0.20833333333333334vw; 
    width: 9.375vw;
    height: 4.0625vw;
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 1.0416666666666665vw;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase; 
    color: #222;
    background: #fff; 
}
.footer-block__down { 
    padding: 1.9791666666666665vw 0 3.125vw;
}
.footer-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.footer-down__copy {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.0416666666666665vw;
    line-height: 150%;
    color: #fff;
}
.footer-top__privacy {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.0416666666666665vw;
    line-height: 150%;
    color: #d5c9be;
}
.footer-top__terms {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.0416666666666665vw;
    line-height: 150%;
    color: #d5c9be;
}

.flex-column{ 
    flex-direction: column;
} 

.header-wrapper__burger {
    display: none;
}

.burger-menu__line {
    transition: .35s ease-in-out;
}

.burger-active {

}

.burger-active .burger-menu__line:first-child {
    transform: rotate(40deg);
    transform-origin: left;
}
.burger-active .burger-menu__line:nth-child(2) {
    opacity: 0;
}
.burger-active .burger-menu__line:last-child { 
    transform: rotate(-40deg);
    transform-origin: left;
}

.header-wrapper__nav.show {   
    left: 0;
    opacity: 1;
}


@media (min-width: 1000px) {
    .nav-item__link {
        transition: 0.35s ease-in-out;
    }
    .nav-item__link:hover {
        
        color: #774daf;
        text-shadow: 0.052083333333333336vw 0.052083333333333336vw #020322;
    }
    .socials-item {
        transition: 0.35s ease-in-out;
    }
    .socials-item:hover {
        transform: scale(1.1);
    }
    .socials-item svg g path {
        transition: .35s ease-in-out;
    }
    .socials-item:hover svg g path {
        stroke: #774daf;
    }

    .footer-top__privacy{
        transition: 0.35s ease;
    }

    .footer-top__terms{
        transition: 0.35s ease;
    }

    .footer-top__privacy:hover{
        opacity: 1;
        color: #fff;
    }

    .footer-top__terms:hover{
        opacity: 1;
        color: #fff;
    }
    .banner-info__order{ 
        transition: 0.35s ease-in-out;
    }

    .banner-info__order:hover{
        box-shadow: 0.10416666666666667vw 0.10416666666666667vw 0.4166666666666667vw #000;
        color: #fff;
        background-color: #774daf;
        border-top-right-radius: 1.3020833333333335vw;
        letter-spacing: 0.12em;
    }

    .desc-column__btn{
        transition: 0.35s ease-in-out;
        margin: 0 auto;
    }
    .desc-column__btn:hover{
        box-shadow: 0.10416666666666667vw 0.10416666666666667vw 0.4166666666666667vw #000;
        color: #fff;
        width: 26.041666666666668vw;
        background-color: #774daf; 
        /* border-top-right-radius: 1.3020833333333335vw; */
        letter-spacing: 0.12em;
        border-radius: 0.5208333333333333vw;
    }

    .form-fields__item{
        transition: 0.35s ease-in-out;
    }

    .form-fields__item:hover {
        box-shadow:  0.10416666666666667vw 0.10416666666666667vw 0.4166666666666667vw #ccc;
    }

    .form-row__label {
        transition: 0.35s ease-in-out;
    }

    .form-column__btn{
        transition: 0.35s ease-in-out;
    }

    .form-column__btn:hover{
        box-shadow: 0.10416666666666667vw 0.10416666666666667vw 0.4166666666666667vw #4e4e50;
        background: #4e4e50;
    }

    .footer-list__link {
        transition: 0.35s ease-in-out;
    }

    .footer-list__link:hover{
        color: #774daf;
        text-shadow: 0.052083333333333336vw 0.052083333333333336vw #020322;
    }

    .footer-top__order{
        transition: 0.35s ease-in-out;
    }

    .footer-top__order:hover{
        box-shadow: 0.10416666666666667vw 0.10416666666666667vw 0.4166666666666667vw #000;
        color: #fff;
        background-color: #774daf;
        border-top-right-radius: 1.3020833333333335vw;
        letter-spacing: 0.12em;
    }

}


@media (max-width: 576px) {
    .header-wrapper__burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 32px;
        height: 30px;
    }

    .burger-menu__line {
        width: 100%;
        height: 4px;
        border-radius: 12px;
        background-color: #fff;
    }

    .container { 
        padding: 0 15px;
    }

        /*Шапка*/
    .header { 
        position: fixed;
        top: 0;
        left: 0; 
        padding-top: 20px;
        padding-bottom: 15px;
        width: 100%;
        z-index: 10;
        transition: 0.3s ease-in-out; 
        background-color: #1c1c1c;
    } 
    .header__wrapper.header-wrapper { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 783px
    }  
    .header-wrapper__nav{
        position: fixed;
        width: 100%; 
        height: 100%;
        top: 89px;
        left: -100%;
        opacity: 0;
        background-color: #1c1c1c; 
        z-index: 10;
        transition: 0.35s ease-in-out;
    }
    .header-nav { 
        flex-direction: column;
    }
    .header-nav__item.nav-item {
        padding: 20px 15px;
    } 
    .header-wrapper__logo{
        font-size: 36px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
    .nav-item__link {
        font-family: var(--font-family);
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: right;
        color: #fff; 
    }
    
    /*Баннер*/
    
    .wrapper__banner {
        position: relative; 
        background-color: #222222; 
    }

    .wrapper__banner::before{ 
        display: none;
        content: ""; 
        position: absolute;
        right: 0; 
        top: 0; 
        width: 763px;
        height: 100%;
        background-image: url('../img/1.png');   
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    } 
    .wrapper-banner__info {
        display: flex;
        flex-direction: column;
        max-width: 537px;
        padding: 130px 0 50px;
    } 
    .banner-info__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        color: #fff;
        margin-bottom: 50px;
    }
    .banner-info__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 30px;
        line-height: 100%;
        color: #fff;
        margin-bottom: 64px;
    } 
    .banner-list__item {
        display: flex;
        align-items: center;
        margin-bottom: 35px;  
    }
    .banner-list__item:last-child {
        margin-bottom: 40px;
    } 
    .banner-item__icon {
        width: 39px;
        height: 37px;
        margin-right: 17px;
    }
    .banner-item__icon svg {
        
        width: 39px;
        height: 37px;
    }
    .banner-item__text {
        display: flex;
        align-items: center;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        text-align: center;
        color: #fff;
    }

    .banner-item__first{
        margin-right: 5px; 
    }
    .number-style {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 1;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin-right: 5px;
    }
    .banner-info__order { 
        width: 191px;
        height: 55px;
        border-radius: 4px;
        padding: 10px 10px; 
        font-family: var(--font-family); 
        font-size: 18px;
        line-height: 1; 
    }


    /*Описание*/

    .wrapper__desc {
        position: relative;
        padding: 100px 0 0;
        overflow: hidden;
        padding: 0 15px;
    }  
    .wrapper-desc__colums {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 614px;
        margin: 0 auto;

    }

    .wrapper-desc__colums::before {
        display: none;
        content: ""; 
        position: absolute;
        left: calc(-100% - 53px );
        top: 0; 
        width: 622px;
        height: 100%;
        background-image: url('../img/2.png');   
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }
    .wrapper-desc__colums::after{
        display: none;
        content: ""; 
        position: absolute;
        right: calc(-100% - 53px);
        top: 0; 
        width: 622px;
        height: 100%;
        background-image: url('../img/3.png');  
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }
    
    .column-list__item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #55565a;
        padding: 30px 0 ;
    }
    .column-list__item:first-child {
        padding-top: 45px;
    }
    .column-list__item:last-child {
        padding-bottom: 0;
        margin-bottom: 60px;
        border-bottom: none;
    } 
    .list-item__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 35px;
        margin-right: 20px;
    }
    .list-item__icon svg {  
        width: 36px;
        height: 35px;
    }
    .list-item__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        color: #fff;
    }
    .desc-column__btn { 
        border-radius: 4px;
        padding: 10px;
        width: 300px;
        height: 55px; 
        font-size: 18px;
        line-height: 1;  
        margin: 0 auto;
    } 

    /*Форма*/

    .wrapper__form {
        position: relative;
        padding-top: 60px;
        margin-bottom: 50px;
        overflow: hidden;
    } 
    
    .wrapper-form__bg::before {
        display: none;
    }
    

    .wrapper-form__inner {
        position: relative; 
        border-radius: 30px; 
        height: auto;
        background: #fff;   
    } 

    .wrapper-form__inner::before {
        display: none;
    } 

    .form-inner__colum {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        padding: 40px 20px;
        margin-left: 0;
        background: transparent;
        z-index: 3;
    } 
    .form-column__title {
        font-size: 32px;
        line-height: 110%;
        color: #38535d;
        margin-bottom: 45px;
        max-width: 100%;
    }
    .form-column__fields {
        display: flex;
        flex-direction: column;
    } 
    .form-fields__item {
        width: 100%;
        height: 50px;
        border: 2px solid #d6d6d6;
        border-radius: 4px; 
        font-size: 18px;
        line-height: 1.1;  
        padding: 8px 12px 8px 12px;
        margin-bottom: 13px; 
    }  
    .form-column__btn { 
        border-radius: 4px;
        padding: 32px 20px;
        width: 100%;
        height: 55px; 
        font-size: 18px;
        line-height: 1.1; 
    } 

    .form-label__box{
        position: relative;
        display: flex
    ;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border: 2px solid #405d65;
        border-radius: 4px;
        margin-right: 10px;
    }

    .form-label__text{
        font-size: 16px;
    }

    /*Подвал*/  
    .footer {
        /* display: none; */
    }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
    }
    .footer-wrapper__block:first-child {
        border-top: 2px solid #d5c9be;
        border-bottom: 2px solid #d5c9be; 
    } 
    .footer-block__list {
        display: flex; 
        flex-direction: column;
        padding: 25px 0 28px;
    } 
    .footer-list__item {
        padding: 8px 0px;
    }
    .footer-list__link {
        font-family: var(--font-family);
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
    }
    .footer-block__top {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }
    .footer-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-top__logo { 
        font-size: 36px;
        line-height: 1.5; 
        margin-bottom: 15px;
    } 
    .socials { 
        margin-bottom: 30px;
    }
    .socials-item {
        width: 38px;
        height: 38px;
        margin: 0 12px;
    }
    .socials-item svg{
        width: 38px;
        height: 38px; 
    }
    .footer-top__order {  
        width: 180px;
        height: 55px; 
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5%;  
    }
    .footer-block__down { 
        flex-direction: column-reverse;
        padding: 38px 0 30px;
    }
    .footer-down {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    .footer-down__copy { 
        font-size: 18px;
        line-height: 1.3; 
    }
    .footer-top__privacy { 
        font-size: 18px;
        line-height: 1.3; 
        margin-bottom: 10px;
    }
    .footer-top__terms { 
        font-size: 18px;
        line-height: 1.3;  
        margin-bottom: 10px;
    }

    .flex-column{ 
        flex-direction: column;
    } 


}
